[Unit]
Description=Resterrs Service Manager
After=default.target

[Service]
ExecStart=/usr/bin/resterrs --log-driver journald -c /path/to/config.toml
Restart=always
User=root

[Install]
WantedBy=multi-user.target
