[Unit]
Description=Resterrs Service Manager
After=default.target

[Service]
ExecStart=target/debug/resterrs
Restart=always
User=root

[Install]
WantedBy=multi-user.target
